body {
  font-family: sans-serif;
  margin: 0;
}

.header {
  $content-size: 5vmin;

  background: royalblue;
  border-bottom: 0.1em solid darkblue;
  margin: 0;
  width: 100vw;
  padding: 2vmin;

  * {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }

  img {
    height: $content-size;
  }

  h1 {
    font-size: $content-size;
  }
}

.map {
  height: 70vh;
  width: 100vw;
  background-color: lightskyblue;
}

.button-controls {
  position: absolute;
  top: 5.375em;
  left: .5em;

  div {
    position: relative;
    display: grid;
    margin: 0.3em 0;

    button {
      width: auto;
      padding: 5%;
    }
  }
}

.legend-control {
  position: absolute;
  bottom: 0;
}

.arrow_box {
  position: relative;
  border: 1px solid #003c88;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.8;
  background-color: black;
  color: white;

  :after, :before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  :after {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000;
    border-width: 10px;
    margin-left: -10px;
  }

  :before {
    border-color: rgba(0, 60, 136, 0);
    border-top-color: #003c88;
    border-width: 11px;
    margin-left: -11px;
  }

}

#popup-content {
  max-height: 200px;
  overflow: auto;

  th {
    text-align: left;
    width: 125px;
  }

}

.hidden {
  display: none;
}