
$map-colors: #FFC8B3 #FFC497 #FFC07A #ECBD5D #D6BA40 #BDB723 #A2B309 #84B00E;
$map-background: lightskyblue;

$popup-border: #003c88;
$popup-background: black;
$popup-text: white;

:export {
  mapColors: $map-colors;
}